<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zagon102.quanlybaidoxe" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyBaiDoXe" >
        <activity
            android:name=".presentation.ui.VehicleInActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.CreateNewVehicleActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.VehicleManagementActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.CheckOutCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.VehicleOutActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.VehicleInCustomActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>